<% @products.each do |product| %>
	<div class="products">
	<% x = product.id %>
	<p><%= link_to product.name, "/products/#{x}" %>  $<%= product.formatted_price %><br>
	<%= truncate(product.description, length: 150) %></p>
	</div>
<% end %>