<h1>Products</h1>

<nav><%= link_to "Add a New Product", "/products/new" %></nav>
<% @products.each do |product| %>
	<div class="product">
	<% x = product.id %>
	<p><%= link_to product.name, "/products/#{x}" %>  $<%= product.formatted_price %><br>
	<%= product[:description] %></p>
	</div>
<% end %>